<html>
    <body>
        <form method="post">
        {% csrf_token %}
<!--    <form action="/cgi-bin/index.py" method="post"> -->
            <input type="text"     name="usuario"    id="user"></br>
            <input type="text"     name="password"       id="pass"></br>
	          <input type="submit"   value="enviar">
        </form>
    </body>
</html>
