<html>
    {% if lista_usuarios %}
    <ul>
    {% for usuario in lista_usuarios %}
        <li><h1 style="font-size:50px">{{usuario.id}}  {{usuario}}</h1></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
</html>
